body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 74px;
  height: 74px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 74px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  font-size: 34px;
}
.game-new {
  margin-left: 60px;
  font-size: 34px;
  padding-left: 30px;
  align-items: center;
  margin-top: 100px;
  border: 4px;
  line-height: 20px;
  padding: 14px 28px;
  font-size: 16px;
  width: 50%;
}

.btn {
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
